@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  font-family: 'Archivo' !important;
}

html, body {
  background-color: black; 
  color: white; 
  width: 100%;
  height: 100%;
}

.Typewriter__cursor {
  color: #0037ff; 
  animation: blink 0.5s infinite; 
  font-size: 25px;
  padding-left: 6px;
}

@keyframes blink {
  0%, 100% {
    opacity: 1; 
  }
  50% {
    opacity: 0; 
  }
}

.descriptions {
  position: absolute;
  top: 3px;
  height: 100%;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.description {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0; 
  padding-right: 10%;
  clip-path: inset(50% 0 50%);
  transition: clip-path 0.4s;
}